.modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: none;
      justify-content: center;
      align-items: center;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.modal>div {
      background: white;
      padding-left: 5vw;
      padding-right: 5vw;
      padding-bottom: 1vw;
      border-radius: 5px;
      width: 30vw;
}

.modal-content {
      background-color: white;
      width: 30vw;
      text-align: center;
      border: solid 10px #4f4f4f;
      border-radius: 10px
}

.school-marker-wrapper {
      width: 10em;
      transform: translate(-3em, -3em);
}

.school-marker {
      border: solid 3px #4f4f4f;
      border-radius: 10%;
      width: 35%;
      background-color: white;
      padding: 5%;
      margin-left: 25%;
      margin-right: 25%;
}

.school-marker-img {
      border-radius: 10%;
      width: 100%;
      height: 100%;
}

.school-marker-label{
      margin-top: 4px;
      width:max-content;
      text-align: center;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.a-near {
      cursor: pointer;
      text-decoration: underline;
      color: #4f4f4f;
}